# Sensitive runtime files and folders
passwd.b64
config.php
uploads
config.d
vendor/

# Other things that should not be in the repo
adminer-*.php
pma/
phpMyAdmin-*.zip
includes/.phpizza-updater.lock
includes/.phpizza-updater-threshold