/* CSS to handle dark mode */
@use './apply-theme.scss';
:root {
    color-scheme: dark;
    --bg-color:black;
    --fg-color:white;
    --header-bg-color: #2b3035;
    --link-color: rgb(0, 119, 255);
    --link-color-hover: rgb(135, 227, 250);
    --link-color-visited: purple;
    --link-color-visited-hover: blueviolet;
} // recompile again, gulp, and again