/*Styles for the PHPizza skin (not including colors, that will be handled seperately*/


header > ul, footer > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > ul > li {
    display: inline-block;
    margin-right: 10px;
}

header > ul > li > a {
    text-decoration: none;
    font-size: 16px;
}

body {
    font-family: "Inter", "Roboto", sans-serif;
}

